extends layout

block content
  .container
    .row
      .col
        #title
          p.display-3.text-center Destination Fever
        div.m-auto.mt-5(id="map")
    .row.border.m-3.bg-color
      .col.text-center.p-3
        p.text-center.font-weight-bold Choose parameters to filter the map
        button.btn.btn-primary.m-1.disabled#weatherButton Climate
        button.btn.btn-primary.m-1#populationButton Population
        button.btn.btn-primary.m-1#covidButton COVID-19
        button.btn.btn-primary.m-1#politicsButton Politics
        button.btn.btn-primary.m-1.disabled#crimeButton Crime
        button.btn.btn-primary.m-1#housingButton Housing
        button.btn.btn-primary.m-1.disabled#housingButton Economy
        button.btn.btn-primary.m-1.disabled#housingButton Demographics
      .col.text-center#filterArea.p-3
    .row.border.m-3.bg-color
      .col-4.text-center.p-3
        div#expressionArea
          button.btn.btn-primary.w-100.m-1#createExpression Create an Expression
        button.btn.btn-primary.w-100.m-1(type="button" data-toggle="modal" data-target="#animationOptionsModal") Animation Options
        button.btn.btn-primary.w-100.m-1#clearColors Clear Colors
        
      .col-4.text-center.p-3
        h3 Selected Counties
        div.border.text-center#selectedCounties
      .col-4.text-center.p-3
        h3 Descriptions
        div.dropdown
          button.btn.btn-info.w-100.m-1.dropdown-toggle(type="button" data-toggle="dropdown") Add Descriptions
            span.caret
          div.dropdown-menu
            a.dropdown-item.desc(onclick="addDescription('State Population: ', ['population', 'statePopulation'], false);") State Population
            a.dropdown-item.desc(onclick="addDescription('State Population Density: ', ['population', 'statePopulationDensity'], false);") State Population Density
            a.dropdown-item.desc(onclick="addDescription('County Population: ', ['population', 'countyPopulation'], true);") County Population
            a.dropdown-item.desc(onclick="addDescription('County Population Density: ', ['population', 'countyPopulationDensity'], true);") County Population Density
            a.dropdown-item.desc(onclick="addDescription('COVID-19 Cases: ', ['covid', 'cases'], true);") COVID-19 Cases
            a.dropdown-item.desc(onclick="addDescription('COVID-19 Deaths: ', ['covid', 'deaths'], true);") COVID-19 Deaths
            a.dropdown-item.desc(onclick="addDescription('COVID-19 Test Positivity Ratio: ', ['covid', 'testPositivityRatio'], true);") COVID-19 Test Positivity Ratio
            a.dropdown-item.desc(onclick="addDescription('COVID-19 Case Density: ', ['covid', 'caseDensity'], true);") COVID-19 Case Density
            a.dropdown-item.desc(onclick="addDescription('COVID-19 Infection Rate: ', ['covid', 'infectionRate'], true);") COVID-19 Infection Rate
            a.dropdown-item.desc(onclick="addDescription('COVID-19 New Cases: ', ['covid', 'newCases'], true);") COVID-19 New Cases
            a.dropdown-item.desc(onclick="addDescription('Governor: ', ['officials', 'governorDescription'], false);") Governor
            a.dropdown-item.desc(onclick="addDescription('House Representatives: ', ['officials','houseDescription'], false);") House Representatives
            a.dropdown-item.desc(onclick="addDescription('Senators: ', ['officials','senateDescription'], false);") Senators
            a.dropdown-item.desc(onclick="addDescription('Housing Units: ',['housing', 'housingUnitEstimate'], true);") Housing
        div.border.text-center#selectedDescriptions
        

  div.modal.fade#animationOptionsModal(tabindex="-1" role="dialog" aria-labelledby="animationModalLabel" aria-hidden="true")
    div.modal-dialog(role="document")
      .modal-content
        .modal-header
          h5.modal-title#animationModalLabel Animation Options
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          div.row
            div.col.text-center
              h4.text-center Animation Angle
              div.m-auto#slider
            .col.text-center
              h4.text-center Animation Color
              input.form-control.h-50.w-50.m-auto(type="color" value="#000000" id="colorChooser")
              div.dropdown.m-2
                button.btn.btn-info.w-100.m-1.dropdown-toggle(type="button" data-toggle="dropdown") Colored By
                  span.caret
                div.dropdown-menu
                  a.dropdown-item.desc(onclick="colorBy='rank';document.querySelector('#colorByTag').innerHTML = 'Rank';") Rank
                  a.dropdown-item.desc(onclick="colorBy='range';document.querySelector('#colorByTag').innerHTML = 'Range';") Range 
              p.font-weight-bold#colorByTag Rank
        .modal-footer
          button.btn.btn-secondary(type="button" data-dismiss="modal" id="animationSave") Save

        
  script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
  script(src="./js/mapdata.js")
  script(src="./js/countymap.js")
  script(src="./js/select.js")
  script(src="./js/countyData.json")
  script(src="./js/stateData.json")
  script(src="./js/filter.js")
  
