extends layout

block content
    script(src="./js/pathfinder/p5.min.js")
    script(src="./js/pathfinder/p5.sound.min.js")
    script(src="./js/pathfinder/dijkstra.js")
    script(src="./js/pathfinder/sketch.js")