extends layout

block content
    #pathfinderDiv.my-5.pb-5
    script(src="./js/pathfinder/priorityQueue.js")
    script(src="./js/pathfinder/p5.min.js")
    script(src="./js/pathfinder/pathfinder.js")
    script(src="./js/pathfinder/sketch.js")